@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap')


.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
	padding: 0px;
	margin: 0px;
}

.navbar {
	font-family: "Oswald", sans-serif;
    padding: 0rem;
}

.navbar-brand, .navbar-brand:hover {
	color: #333;
	font-weight: 700;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(51, 51, 51, .9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.active {
	font-weight: 500;
}

.welcome-container {
	padding-top: 15rem;
}

.welcome-container h1 {
	font-size: 46px;
	font-weight: 700;
}

.welcome-container h3 {
	font-size: 27px;
}

.welcome-container a {
	padding-top: 15px;
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #fff;
   color: #333;
   padding-top: 7px; 
   padding-bottom: 7px;
   text-align: center;
   border-top: 1px solid rgba(51, 51, 51, .3);
   font-size: 11px;
}

.about-container {
	padding-top: 6rem;
}

.about-container h3 {
	font-weight: 700;
}